__pycache__
.idea
.venv
output
корпусы с других лаб/corpus.jsonl
корпусы с других лаб/processed.jsonl
tokenization_metrics.csv
**/*.aux
**/*.log
**/*.out
**/*.toc
корпусы с других лаб/processed_corpus.jsonl
vectorization_metrics.csv
news_ru*
binary_model
category_model
multilabel_model